// *******NavrBar********
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.06);
  width: 100%;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
.navbar-object{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}
// ****** Glass Panel Hero **********
.glass-panel {
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}

/* Extra styles for demo */
/* Article:  https://superdevresources.com/glassmorphism-ui-css/ */

// ******* Body ***********
body {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.glass-panel {  
  max-width: 600px;
}

.glass-button {
  margin: 15px;
  margin-top: 40px;
}

h1 {
  // min-height: 120px;
  width: 90%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 20px;
  color:white;
  font-style: bold;
}
h2 {
  color: white;
}

p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 32px;
  color: white;
  text-align: left;
  padding-top: 10px;
  word-spacing: 1px;
  line-height: 20px;
}
.hero{
  display: flex;
  flex-direction: row;
}
.robowoman{
  width: 800px;
}
// **** Skills Page *****
section.skills{
  background-color: yellowgreen;
  height: 200px;
}

