@import "~bootstrap/scss/bootstrap";


// html body {
//   background-color: #01356f;
// }


.background-pic {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.skills{
  display: flex;
  flex-direction: row;
}
.glass-card{
margin: 20px;
padding: 20px;
background: rgba( 211, 115, 215, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
}
section.container.contact{
  background-color: #01356f;
}
