.background-pic {
  background-image: url('../assets/background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
}
// .display-1.cover {
//   padding: 50px;
//   color: white;
// }
.heading-text{
  padding: 10px;
}
.bi.bi-filetype-html{
  font-size: 90px;
}